.card {
    background-color: #ffffff;
    border: 1px solid var(--border-color);
    padding: var(--space-40);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: var(--space-24);
}